@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@font-face {
  font-family: 'Butler SemiBold';
  src:
    url('../public/fonts/Butler-Free-SBd.ttf') format('truetype'),
    url('../public/fonts/Butler-Free-SBd.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../public/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans Medium';
  src: url('../public/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans SemiBold';
  src: url('../public/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Variables - For reference in custom styles in this file */

:root {
  --orange: #c65833; /* Custom color */
}

/* Global */
html {
  overflow-x: hidden;
}

html,
body {
  @apply bg-pink;
  @apply text-orange;
  padding: 0;
  margin: 0;
  font-family:
    'Work Sans',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  scroll-behavior: smooth;
}

svg {
  fill: #c65833;
}

h1,
.h1 {
  font-family: 'Butler SemiBold', sans-serif;
  line-height: 1.2;
}

h2,
.h2 {
  @apply mb-6 font-butlerSemibold text-4xl;
}

h3 {
  @apply font-workSansSemibold text-xl;
}

.footer-title {
  @apply text-3xl lg:text-6xl;
  line-height: 1.2;
}

body {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1550px;

  @media screen(lg) {
    padding: 0 75px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  padding-bottom: 12px;
}

* {
  box-sizing: border-box;
}

strong {
  @apply font-workSansSemibold;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

input,
textarea,
label {
  @apply mb-4 rounded border-2 border-orange bg-transparent p-4;
}

form > button {
  @apply w-auto rounded bg-orange p-4 text-white;
}

form > button:hover {
  @apply opacity-80;
}

input::placeholder,
textarea::placeholder {
  @apply text-orange;
}

/* Custom */

.section-filter {
  @apply mr-4 border-b-2 text-base lg:mr-16 lg:text-lg;
}

.mobile-nav-container {
  @apply fixed bottom-0 left-0 top-0 bg-orange text-pink;
  width: 80%;
}

.slide-in-out {
  @apply text-orange;
  padding: 2px;
  text-decoration: none;
  background-image: linear-gradient(var(--orange), var(--orange));
  background-size: 0% 2px;
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.slide-in-out:hover,
.slide-in-out:focus {
  background-size: 100% 2px;
  background-position-x: 0%;
}
